.place {
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

.place__artist {
  align-self: end;
}

.place__artist-title {
  margin: 0;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12em;
}

.place__artist-name {
  margin-top: 8px;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  width: 100%;
  display: block;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}

.place__button {
  width: fit-content;
  padding: 13px 20px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(180deg, #0278fe 0%, #003a7b 100%);
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.place__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }

  .place__artist {
    padding: 0 16px;
  }

  .place__content {
    padding: 0 16px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    margin-left: 16px;
  }
}
